.back {
    margin-left: 24px !important;
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    height: 24px;
}
.back a{
    text-decoration: none;
    font-weight: 600;
}
.details-container{ 
    display: flex;
}
.emptyStar {
    color: black;
}